name: Deploy Next.js App

on:
  push:
    branches:
      - main # Trigger workflow when code push into branch main (production)
  pull_request:
    types:
      - closed
    branches:
      - main
  
jobs:
  deploy:
    if: github.event.pull_request.merged == true || github.event_name == 'push'
    runs-on: ubuntu-latest

    steps:
    # Step 1: Checkout repository
    - name: Checkout repository
      uses: actions/checkout@v3

    # Step 2: Set up Docker Buildx
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    # Step 3: Log in to Docker Hub 
    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # Build Docker Image
    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./Dockerfile
        platforms: linux/amd64
        push: true
        tags: |
          ${{ secrets.DOCKER_USERNAME }}/nextjs-app:latest
          ${{ secrets.DOCKER_USERNAME }}/nextjs-app:${{ github.sha }}
        cache-from: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/bio-page-app:cache
        cache-to: type=registry,ref=${{ secrets.DOCKER_USERNAME }}/bio-page-app:cache,mode=max

    # Step 5: Deploy to Server by SSH
    - name: Deploy to Server
      uses: appleboy/ssh-action@v0.1.3
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        password: ${{ secrets.SERVER_PASSWORD }} 
        ssh-extra-args: "-o StrictHostKeyChecking=no"
        script: |
          docker pull ${{ secrets.DOCKER_USERNAME }}/nextjs-app:latest
          docker stop nextjs-app || true
          docker rm nextjs-app || true
          docker run -d -p 8080:3000 --name nextjs-app ${{ secrets.DOCKER_USERNAME }}/nextjs-app:latest
